@charset "UTF-8";

.container {
  display: flex;
  flex-wrap: wrap;
}
.item {
  flex: 1 1 300px;
}
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
}
img, video {
  max-width: 100%;
  height: auto;
}


. {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right,#D6D58E, #9FC131);
    font-size: 16px;
    
}
.item {
  flex: 1 1 300px;
}

}
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}
main {
    background-color: #d6d5a9;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #005C53;
    width: 600px;
    padding: 15px;
    margin: auto;
}
h1 {
    color: #042940;
    text-shadow: 1px 1px 0px #005C53;
    text-align: center;
}
h2 {
    color: #005C53;
    text-align: center;
}
p {
    text-align: justify;
}
a {
    margin: 100px;
}